---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class:list={['absolute left-0 right-0 h-16 md:h-24', className]} aria-hidden="true">
  <svg class="h-full w-full" viewBox="0 0 1440 120" preserveAspectRatio="none">
    <path d="M0,120 L0,90 C 420,34 925,12 1440,28 L1440,120 Z" fill="currentColor" />
    <path
      d="M0,90 C 420,34 925,12 1440,28"
      fill="none"
      stroke="hsl(214 70% 35%)"
      stroke-width="2.5"
      vector-effect="non-scaling-stroke"
      stroke-linecap="round"
    />
  </svg>
</div>
